.body{
    width: 100%;
    height: 100%;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f0f2f5;
    flex-direction: column;
}

.grid{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    column-gap: 5rem;
    margin-bottom: 1.6rem;
}

.link {
    text-decoration: none;
}