.body{
    width: 100%;
    height: 100%;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f0f2f5;
    flex-direction: column;
}

.titlepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
}

.button{
    width: 4rem;
    height: 2rem;
    background-color: #2CA5A6;
    color: white;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black ;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    column-gap: 3rem;
    margin-bottom: 2rem;
}

.link{
    text-decoration: none;
}

.especialidades{
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 8px; 
    text-align: center;
    transition: 1s;
    color: rgb(111, 111, 111);
    background-color: white;
}

.especialidades:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 2px rgba(71, 67, 67, 0.438) ;
    color: #2CA5A6;
}

.img{
    object-fit: cover;
    border-radius: 50%;
}