.body{
    width: 100%;
    height: 100%;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.titlepage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
}

.button{
    width: 30%;
    height: 100%;
    background-color: #2CA5A6;
    color: white;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black ;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    column-gap: 3rem;
    margin-bottom: 2rem;
}

.link{
    text-decoration: none;
}

.especialidades{
    border: 1px solid #ccc; 
    padding: 10px; 
    border-radius: 10px; 
    font-size: 8px; 
    text-align: center;
    transition: 1s;
    color: black;
}

.especialidades:hover{
    transform: scale(1.1);
    box-shadow: 0.25px 1.5px 1.5px rgb(71, 67, 67) ;
    color: #2CA5A6;
}

.img{
    border-radius: 10px;
}